@font-face {
  font-family: Adv;
  src: url(../styles/Oswald-VariableFont_wght.ttf);
}

body {
  background-color: rgb(59, 159, 167);
  font-family: 'Adv';
  margin: 100px;
  margin-left: 0px;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to right, #1e1555, #16074ee1);
  font-family: 'Barlow Condensed';
  font-size: 25px;
  width: 100%;
  text-align: left;
  text-size-adjust: 50;
}
