body {
  background-color: rgb(43, 101, 105);
  font-family: 'Barlow Condensed';
  margin: 100px;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to right, #a6a0ae, #7d10b4);
  font-family: 'Barlow Condensed';
  font-size: 25px;
  width: 100%;
  text-align: left;
  text-size-adjust: 50;
}
