.heading1 {
}

.heading2 {
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 150px;
  height: 150px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #282474;
  border-radius: 60px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-35px);
  box-shadow: 1 12px 12px rgba(179, 45, 45, 0.2);
}
.card img {
  width: 50%;
  height: 10;
  width: auto;
  border-radius: 10px;
}

.card p {
  margin-top: 10px;
  font-size: 0px;
  color: #333;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card img {
  max-width: 100%;
}

.ticker {
  margin-top: 1px;
  font-size: 5px;
  font-family: adv;
  text-align: top;
}

.image {
  width: 10px;
  height: -20px;
}
